/* customized scroll */



body::-webkit-scrollbar{
width: 40px;
background-clip: content-box;
background-color: rgb(241, 241, 241);
}

body::-webkit-scrollbar-thumb{
background-image: url("/public/img/sun.png");
background-repeat: no-repeat;
background-size: 100%;
}
